@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';
@import 'mixin';



.header {
    &__top {
        background-color: $dark-800;
    }

    &__inner {
        padding: 17px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.03em;

        @include r(992) {
            padding: 0 0;
        }
    }

    &__bottom {
        position: relative;
        background-color: $green-900;
    }

    &__wrapper {
        padding: 25px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r(992) {
            padding: 20px 0;
        }

        @include r(768) {
            padding: 11px 20px 11px 15px;
            justify-content: space-between;
        }

        @include r(560) {
            padding: 11px 10px 11px 0;
        }
    }
}

.burger {
    display: none;

    @include r(992) {
        display: block;
    }

    &__btn {
        position: relative;
        padding: 22px 22px;

        &-line,
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            left: 0;
            background-color: $white;
        }

        &::before {
            top: 10px;
        }

        &::after {
            bottom: 12px;
        }

        &-line {
            top: 20px;
        }

    }

    &__dropdown {
        display: none;

        @include r(992) {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0px;
            background-color: $white;
            height: 100vh;
            max-width: 500px;
            overflow: auto;
            transform: translateY(-200%);
            z-index: 2;
            transition: transform 0.7s;

            &.active {
                transform: translateY(0%);
            }

            @include r(768) {
                width: 430px;
            }

            @include r(560) {
                width: 300px;
            }
        }

        &-image {
            padding: 26px 26px 26px 15px;
        }

        &-close {
            fill: $black;
            width: 18px;
            height: 18px;
            position: absolute;
            right: 26px;
            top: 47px;
        }

        &-login {
            display: flex;
            align-items: center;
            background-color: $green-900;
            padding: 9px 15px 15px 15px;
            color: $white;
            font-size: 18px;
            line-height: 1.3;
            letter-spacing: 0.03em;

            &__signin {
                border-right: 1px solid $white;
                padding-right: 10px;
            }

            &__signup {
                padding-left: 10px;
            }
        }

        &-catalog {
            border-bottom: 1px solid rgba(193, 193, 193, 0.3);
        }

        &-btn {
            display: block;
            position: relative;
            background-color: $white;
            padding: 14px 16px 14px 55px;

            & span {
                font-size: 18px;
                color: $black;
                font-weight: 600;
                line-height: 1.2;
            }

            &::after {
                display: none;
            }

            &::before {
                content: '';
                position: absolute;
                width: 25px;
                height: 19px;
                top: 14px;
                left: 16px;
                background-image: url('../images/icons/nav_icon-black.svg');
            }
        }

        &-hidden {
            @include r(992) {
                display: none;
            }
        }

        &-items {
            padding: 24px 15px 24px 15px;
            border-bottom: 1px solid rgba(193, 193, 193, 0.3);

            @include r(560) {
                padding: 15px 15px 14px 15px;
            }
        }

        &-item {
            max-width: 240px;
            display: flex;
        }

        &-address {
            font-size: 18px;
            line-height: 1;
            letter-spacing: 0.03em;
            margin-bottom: 20px;

            @include r(560) {
                margin-bottom: 10px;
            }
        }

        &-link {
            padding-left: 40px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                left: 0;
                top: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            &--phone {
                &::before {
                    background-image: url('../images/sprite.svg#phone');
                    fill: $black;
                }
            }

            &--map {
                &::before {
                    height: 33px;
                    background-image: url('../images/icons/map.svg');

                }

                @include r(560) {
                    line-height: 1.3;
                }
            }

            &--user {
                display: block;
                width: 50px;
                height: 50px;
            }
        }

        &-menu {
            font-size: 18px;
            letter-spacing: 0.04em;
            display: flex;
            flex-direction: column;
            padding: 24px 24px 24px 15px;

            @include r(560) {
                line-height: 1;
            }
        }

    }
}



.menu {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 17px;
        }

        &--connect {
            &:not(:last-child) {
                margin-right: 48px;
            }

            @include r(992) {
                font-size: 0;
            }
        }
    }

    &__link {
        padding: 4px 4px;
        background-repeat: no-repeat;
        transition: opacity 0.5s, box-shadow 0.5s, color 0.5s;

        @include r(992) {
            position: absolute;
            top: 8px;
            right: 0;
            width: 32px;
            height: 24px;
        }

        &--delivery {
            padding-left: 44px;
            background-image: url('../images/icons/delivery.svg');

            @include r(992) {
                right: 55px;
            }
        }

        &--phone {
            padding-left: 36px;
            background-image: url('../images/icons/phone.svg');
        }

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-100;
            border-radius: 3px;
        }

        &:active {
            color: $green-200;
        }
    }

}

.catalog {
    padding: 15px 38px 15px 61px;
    max-width: 240px;
    width: 100%;
    background-color: $white;
    border-radius: 6px;
    margin-right: 20px;
    position: relative;
    transition: background-color 0.5s;

    @include r(1230) {
        margin-right: 20px;
    }

    @include r(992) {
        display: none;
    }

    &::before {
        content: '';
        top: 16px;
        left: 18px;
        display: inline-block;
        position: absolute;
        background-image: url('../images/icons/nav_icon.svg');
        width: 25px;
        height: 17px;
    }

    &:hover {
        background-color: $green-200;
    }

    &__btn {
        font-weight: 600;
        font-size: 14px;
        color: $green-900;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -25px;
            width: 4px;
            height: 7px;
            border: solid $green-900;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: rotate(45deg);
        }

        &.active:after {
            transform: rotate(225deg);
            top: 10px;
        }
    }

    &__list {
        position: absolute;
        left: 0;
        right: 0;
        top: 45px;
        z-index: 1;
        opacity: 0;
        background-color: $white;
        border-radius: 0 0 6px 6px;
        color: $black;
        display: block;
        overflow: auto;
        transform: translateY(-200%);
        transition: opacity 0.5s;

        @include r(922) {
            top: 237px;
            max-height: 180px;
            overflow: auto;
        }

        &.active {
            transform: translateY(0%);
            opacity: 1;
            transition: opacity 0.5s;
        }
    }

    &__item {
        padding: 15px 0;
        border-left: 3px solid transparent;

        @include r(922) {
            padding: 6px 0;
        }

        &:hover {
            color: $green-900;
            border-left: 3px solid $green-900;
        }
    }

    &__link {
        padding: 15px 24px;

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
            color: $black;
        }

        &:active {
            color: $silver-600;
            box-shadow: none;
        }
    }
}

.form-search {
    background-color: $white;
    border-radius: 6px;
    position: relative;
    transition: background-color 0.5s;
    max-width: 576px;
    width: 100%;
    margin-right: 24px;

    @include r(1230) {
        max-width: 525px;
    }

    @include r(992) {
        max-width: 576px;
        width: 100%;

        &--header {
            bottom: -49px;
            left: 0;
            position: absolute;
            transform: scale(0);
            transition: transform 0.5s;

            &.active {
                border-radius: 0;
                border: 1px solid $black;
                transform: scale(1);
                z-index: 1;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../images/icons/search.svg');
        top: 16px;
        left: 13px;
    }

    &__input {
        max-width: 418px;
        width: 100%;
        padding: 15px 15px 15px 51px;

        &::placeholder {
            color: $dark-800;
            letter-spacing: 0.03em;
        }
    }

    &__btn {
        background-color: $dark-800;
        text-transform: uppercase;
        padding: 16px 47px;
        cursor: pointer;
        top: 0;
        right: 0;
        border-radius: 0 6px 6px 0;
        position: absolute;

        @include r(1230) {
            padding: 16px 35px;
        }

        @include r(992) {
            border-radius: 0;
        }

        @include r(768) {
            padding: 18px 25px;
            font-size: 14px;
        }

        &:hover {
            background: rgba(49, 53, 43, 0.85);
        }

        &:focus {
            box-shadow: 0 0 0 4px rgba($white, 0.5);
        }

        &:active {
            color: rgba($white, 0.5);
        }
    }

    &:hover {
        background-color: $green-200;
    }

}

.user-nav {
    display: flex;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 9px;
        }
    }

    &__user {
        fill: $white;
        width: 25px;
        height: 32px;
        transition: fill 0.5s;

        &:active {
            fill: rgba($white, 0.5);
        }
    }

    &__heart {
        fill: $white;
        width: 32px;
        height: 28px;
        transition: fill 0.5s;

        @include r(992) {
            display: none;
        }

        &:active {
            fill: rgba($white, 0.5);
        }
    }

    &__cart {
        fill: $white;
        width: 32px;
        height: 31px;
        transition: fill 0.5s;

        &:active {
            fill: rgba($white, 0.5);
        }
    }

    &__search {
        fill: $white;
        width: 32px;
        height: 31px;
        transition: fill 0.5s;

        &:active {
            fill: rgba($white, 0.5);
        }
    }

    &__link {
        width: 50px;
        height: 50px;
        transition: background-color 0.5s, opacity 0.5s, box-shadow 0.5s;

        &:hover {
            background-color: rgba($white, 0.1);
            border-radius: 3px;
        }

        &:focus {
            box-shadow: inset 0 0 0 3px $green-100;
            border-radius: 3px;
        }

        &:active {
            opacity: 0.1;
        }

        &--cart {
            position: relative;
        }

        &--user {
            @include r(992) {
                display: none;
            }
        }

        &--search {
            display: none;

            @include r(992) {
                display: block;
                margin-right: 10px;
            }
        }
    }

    &__num {
        position: absolute;
        color: $red-900;
        font-size: 10px;
        font-weight: 600;
        background-color: $white;
        padding: 1px 3px;
        border-radius: 50%;
        right: 26px;
        top: 5px;
        transform: translateY(-50%);
        text-align: center;
        line-height: 1.8;

        @include r(992) {
            &--search {
                display: none;
            }

            &--cart {
                right: 26px;
                top: 5px;
            }
        }
    }

    @include r(560) {
        &__link {
            width: 35px;
            height: 35px;

            &--search {
                width: 24px;
                height: 24px;
            }

            &--cart {
                width: 33px;
                height: 31px;
            }
        }

        &__num {
            &--cart {
                right: 18px;
                top: 5px;
            }
        }
    }
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: scale(0);
    background-color: $white;
    opacity: 0;
    transition: transform 0.5s;

    &.active {
        transform: scale(1);
        opacity: 1;
        transition: opacity 0.5s;
    }

    &__wrapper {
        max-width: 475px;
        display: flex;
        flex-direction: column;
        color: $black;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 19px 26px 12px 24px;
        color: $black;
        line-height: 1.2;
        border-bottom: 1px solid rgba(193, 193, 193, 0.3);

        &-title {
            font-size: 24px;
            margin-bottom: 12px;
        }

        &-text {
            font-weight: 300;
            font-size: 14px;
        }

        &-icon {
            fill: $dark-800;
            width: 24px;
            height: 24px;
        }
    }

    &__product {
        padding: 13px 12px 13px 11px;
        min-height: calc(100vh - 288px);

        &-image {
            margin-right: 23px;
            object-fit: cover;
        }

        &-items {
            position: relative;
            border: 1px solid $silver-600;
            border-radius: 3px;
            padding: 11px 12px 12px 0;
            display: flex;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        &-icon {
            position: absolute;
            fill: $silver-600;
            width: 12px;
            height: 12px;
            top: 12px;
            right: 12px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex-basis: 370px;
        }

        &-title {
            font-size: 14px;
            margin-bottom: 5px;
            max-width: 170px;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        &-price {
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
        }

        &-number {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            background-color: rgba(99, 166, 14, 0.1);
            font-size: 16px;
            line-height: 1;
            padding: 6px 10px;
        }
    }

    &__total {
        background-color: $white;
        padding: 24px 24px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;

        &-text {
            line-height: 1.2;
        }

        &-sum {
            line-height: 1;
            font-weight: 600;
        }
    }

    &__btn {
        padding: 23px 161px;
        font-size: 18px;
        line-height: 1.27;
        border-radius: 0;
    }
}

.slider-top {
    &__item {
        padding: 142px 0 142px;
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include r(992) {
            padding: 100px 0;
            min-height: 400px;
        }

        @include r(560) {
            min-height: 310px;
            padding: 60px 0 50px;
        }
    }

    &__content {
        background-color: rgba($white, 0.8);
        border-radius: 4px;
        padding: 18px 24px 35px 24px;

        @include r(560) {
            padding: 15px 15px 25px 15px;
            margin: 0 -15px 0 -15px
        }
    }

    &__title {
        @extend %ruda;
        font-weight: 900;
        font-size: 60px;
        line-height: 1.3;
        color: $dark-500;
        max-width: 796px;
        text-transform: uppercase;
        margin-bottom: 6px;
        @include line-clamp(3);

        @include r(992) {
            font-size: 50px;
            max-width: 760px;
        }

        @include r(768) {
            font-size: 30px;
            max-width: 460px;
        }

        @include r(560) {
            font-size: 20px;
            max-width: 305px;
            margin-bottom: 16px;
        }
    }

    &__discount {
        color: $red-900;
        font-size: 60px;

        @include r(992) {
            font-size: 50px;
        }

        @include r(768) {
            font-size: 30px;
        }

        @include r(560) {
            font-size: 20px;
        }
    }

    &__text {
        color: $dark-500;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 42px;
        letter-spacing: 0;
        @include line-clamp(2);

        @include r(992) {
            margin-bottom: 30px;
        }

        @include r(768) {
            margin-bottom: 20px;
        }

        @include r(560) {
            margin-bottom: 38px;
            line-height: 1.4;
        }
    }

    &__arrow {
        background-color: rgba($white, 0.8);
        border-radius: 6px;
        padding: 14px 15px 10px 20px;
        position: absolute;
        top: 45%;
        transition: fill 0.5s, background-color 0.5s, box-shadow 0.5s;

        &--right {
            right: 60px
        }

        &--left {
            z-index: 1;
            left: 60px;
        }

        &:disabled {
            path {
                fill: $silver-600;
            }
        }

        &:disabled {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 6px;
        }

        &:hover {
            background-color: $green-200;
        }

        &:hover {
            path {
                fill: $green-900;
            }
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
            border-radius: 6px;
        }

        &:active {
            background-color: $white-100;

            path {
                fill: $green-900;
            }
        }
    }
    &__btn {
        font-size: 14px;
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 13px;
    left: 45%;

    @include r(560) {
        left: 42%;
    }
}

.slick-dots li+li {
    margin-left: 10px;
}

.slick-dots .slick-active button {
    background-color: $white;
    border: 1px solid $silver-600;
    width: 15px;
    height: 15px;
}

.slick-dots button {
    padding: 0;
    background-color: $green-900;
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}


.advantages {
    background-color: $silver-100;
    padding: 48px 0 29px;

    @include r(560) {
        padding: 30px 0 30px;
    }

    &__list {
        max-width: 1235px;
        display: flex;
        justify-content: center;

        @include r(992) {
            justify-content: space-around;
        }

        @include r(560) {
            display: block;
            width: 100%;
        }
    }

    &__item {
        max-width: 255px;
        padding-left: 74px;
        position: relative;

        @include r(992) {
            max-width: 250px;
        }

        @include r(768) {
            padding-left: 40px;
        }

        @include r(560) {
            max-width: 300px;
            padding-left: 71px;
        }

        &:not(:last-child) {
            margin-right: 75px;

            @include r(992) {
                margin-right: 10px;
            }

            @include r(560) {
                margin-bottom: 30px;
            }
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            @include r(768) {
                width: 30px;
                height: 30px;
            }

            @include r(560) {
                width: 50px;
                height: 50px;
            }
        }

        &--delivery {
            &::before {
                background-image: url('../images/icons/scooter.svg');
            }
        }

        &--return {
            &::before {
                background-image: url('../images/icons/return-box.svg');
            }
        }

        &--support {
            &::before {
                background-image: url('../images/icons/support.svg');
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 16px;
        color: $dark-900;
        margin-bottom: 6px;
        @include line-clamp(2);
    }

    &__text {
        color: $dark-500;
        @include line-clamp(4);

        @include r(560) {
            line-height: 1.6;
        }
    }
}

.top-products {
    text-align: center;
    padding: 72px 0;

    @include r(768) {
        padding: 63px 59px;
    }

    @include r(560) {
        padding: 48px 0 50px;
    }

    &__item {
        max-width: 300px;
        width: 100%;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 48px;

        @include r(992) {
            grid-template-columns: repeat(2, 300px);
            justify-content: center;
            grid-gap: 25px;
        }

        @include r(768) {
            grid-template-columns: repeat(2, 250px);
        }

        @include r(560) {
            grid-template-columns: repeat(2, 170px);
            grid-gap: 5px;
            margin-bottom: 24px;
        }
    }

    &--btn {
        background-color: $white;
        color: $green-900;
        border: 1px solid $green-900;

        &:hover {
            background-color: $green-100;
        }

        &:focus {
            background-color: $white;
            box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
        }

        &:active {
            box-shadow: inset 0 10px 4px rgba($black, 0.1)
        }
    }
}

.top-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;

    @include r(560) {
        flex-wrap: wrap;
        margin-bottom: 17px;
        line-height: 2;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;

            @include r(560) {
                margin-right: 18px;
            }
        }
    }

    &__btn {
        border-bottom: 2px solid transparent;
        text-transform: uppercase;
        font-weight: 700;
        color: $dark-500;
        letter-spacing: 0.03em;
        transition: color 0.5s, border-bottom 0.5s, box-shadow 0.3s, background-color 0.3s;

        &:hover {
            color: $green-900;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }

        &.mixitup-control-active {
            border-bottom: 2px solid rgba(99, 166, 14, 0.2);
        }
    }
}

.product-card {
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    padding: 53px 0 18px;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border 0.5s;

    @include r(560) {
        padding: 12px 12px;
    }

    &:hover {
        border: 1px solid $green-900;
    }

    &__favourite {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 10px;
        right: 4px;
        transition: box-shadow 0.5s;

        @include r(560) {
            top: 5px;
            right: 0;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }
    }

    &__heart {
        width: 32px;
        height: 28px;
        transition: fill 0.5s;
        fill: $silver-600;

        @include r(560) {
            width: 24px;
            height: 21px;
        }

        &:hover {
            fill: $yellow-900;
        }

        &:active {
            fill: rgba(255, 184, 0, 0.5);
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 300px;
        transition: background-color 0.5s;

        &::before {
            content: '';
            position: absolute;
            background-color: transparent;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons/search-green.svg');
            background-repeat: no-repeat;
            background-position: center center;
            padding: 24px 24px;
            border-radius: 50%;
            background-color: $white;
            width: 20px;
            height: 20px;
            z-index: 3;
            transform: scale(0);
            transition: transform 0.5s;
        }

        &:hover::before {
            background-color: rgba($black, 0.1);
        }

        &:hover::after {
            transform: scale(1);
        }
    }

    &__image {
        object-fit: cover;
        width: 99%;
        height: 100%;
        margin-bottom: 15px;

        @include r(560) {
            padding-top: 64px;
        }
    }

    &__title {
        padding: 5px 17px 0;
        font-size: 14px;
        font-weight: 600;
        @include line-clamp(3);

        @include r(560) {
            margin-bottom: 47px;
            padding: 0 0;
        }
    }

    &__box {
        padding: 14px 19px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;
        font-weight: 400;

        @include r(560) {
            padding: 0 0;
        }
    }

    &__price {
        &--old {
            color: $silver-600;
            position: absolute;
            bottom: 35px;
            left: 14px;

            @include r(560) {
                bottom: 25px;
            }

            &::before {
                content: '';
                position: absolute;
                width: 45px;
                height: 1px;
                top: 42%;
                left: -3px;
                background-color: $silver-600;
                transform: rotate(165deg);
            }
        }
    }

    &__cart {
        fill: $white;
        width: 16px;
        height: 16px;

        &:active {
            fill: rgba($white, 0.5);
        }
    }

    &__btn {
        background-color: $green-900;
        width: 32px;
        height: 32px;
        padding: 7px 7px;
    }
}

.currency {
    font-weight: 400;
    font-size: 14px;
    color: $dark-500;

    &--old {
        color: $silver-600;
    }
}

.badges {
    width: 66px;
    position: absolute;
    top: 8px;
    left: 12px;
    z-index: 3;

    &__item {
        display: inline-block;
        color: $white;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 10px;
        border-radius: 6px;
        padding: 3px 6px;

        &--new {
            background-color: $green-900;
            margin-bottom: 6px;
        }

        &--discaunt {
            background-color: $red-900;
        }

        &--best {
            background-color: $orange-900;
        }
    }
}

.advertise {
    padding-bottom: 72px;

    @include r(560) {
        padding-bottom: 48px;
    }

    &__list {
        display: grid;
        min-height: 300px;
        grid-template-columns: 630px 300px 300px;
        grid-gap: 30px;

        @include r(1230) {
            grid-template-columns: 430px 250px 250px;
            grid-gap: 10px;
            justify-content: center;
        }

        @include r(992) {
            grid-template-columns: 280px 220px 220px;
        }

        @include r(768) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
        }

        @include r(560) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        color: $white;
        padding: 79px 0 79px 30px;
        border-radius: 6px;
        text-transform: uppercase;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include r(992) {
            padding: 76px 10px 30px 15px;
        }

        @include r(560) {
            width: 100%;
            min-height: 300px;
        }

        &--highlight {
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        }

        &:nth-child(1) {
            @include r(768) {
                grid-column: 1 / 4;
            }
        }

        &:not(:last-child) {
            @include r(560) {
                margin-bottom: 10px;
            }
        }
    }

    &__subtitle {
        display: block;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.1em;
        line-height: 1;
        margin-bottom: 18px;
        @include line-clamp(1);
    }

    &__heading {
        @extend %ruda;
        font-weight: 600;
        font-size: 30px;
        max-width: 400px;
        letter-spacing: 0;
        margin-bottom: 12px;
        @include line-clamp(3);

        @include r(992) {
            font-size: 20px;
            max-width: 250px;
        }

        @include r(560) {
            font-size: 24px;
            margin-bottom: 74px;
        }

        &--highlight {
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
        }

        &--content {
            max-width: 200px;

            @include r(992) {
                max-width: 125px;
            }
        }
    }

    &__link {
        line-height: 1;
        padding-bottom: 2px;
        border-bottom: 2px solid $white;
        @include line-clamp(1);
    }

}

.promo-products {
    padding: 72px 0;
    background-color: $silver-200;
    text-align: center;
    font-weight: 600;
    color: $dark-500;

    @include r(560) {
        padding: 48px 0;
    }

    &__filter {
        @include r(560) {
            margin-bottom: 20px;
        }

        &:not(:last-child) {
            @include r(560) {
                margin-right: 0;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 48px;

        @include r(1230) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
        }

        @include r(992) {
            grid-template-columns: repeat(2, 1fr);

        }

        @include r(560) {
            display: block;
            max-width: 300px;
            min-height: 124px;
            margin: 0 auto;
            margin-bottom: 23px;
        }
    }

    &__badges {
        top: 12px;
    }

    &__inner {
        display: flex;
    }

    &__images {
        margin-right: 15px;
        flex-basis: 100px;
    }

    &__link {
        height: 101px;
        max-width: 135px;
        width: 100%;
    }

    &__item {
        &:not(:last-child) {
            @include r(560) {
                margin-bottom: 14px;
            }
        }
    }


    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 180px;

        @include r(992) {
            flex-basis: 200px;
        }

        @include r(768) {
            flex-basis: 180px;
        }
    }

    &__title {
        height: 58px;
        padding: 0 3px;
        top: 3px;

        @include r(560) {
            margin-bottom: 6px;
        }
    }

    &__card {
        padding: 12px 12px;
        background-color: $white;

        @include r(560) {
            padding: 11px 12px;
        }
    }

    &__sale {
        text-transform: uppercase;
        color: $green-900;
        font-size: 10px;
        line-height: 1;

        &--closed {
            color: $red-900;
        }

        &--finished {
            color: $silver-600;
        }
    }

    &__box {
        padding: 0 0;
    }

    &__new {
        font-size: 20px;
        line-height: 1;
    }

    &__old {
        position: relative;
        color: $silver-600;

        @include r(1230) {
            font-size: 12px;
        }

        @include r(992) {
            font-size: 14px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 45px;
            height: 1px;
            top: 9px;
            right: -3px;
            background-color: $silver-600;
            transform: rotate(165deg);
        }
    }

    &__star {
        fill: $yellow-900;
        width: 16px;
        height: 16px;
    }
}


.brands {
    padding: 72px 0 57px;

    @include r(768) {
        padding: 38px 0;

    }

    &__slider {
        display: flex;
    }

    &__image {
        margin: 18px auto 0;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.news {
    background-color: $white;
    padding-bottom: 72px;

    @include r(560) {
        padding-bottom: 46px;
    }

    &__image {
        border-radius: 6px 6px 0 0;

        @include r(560) {
            height: 200px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include r(560) {
            display: block;
        }
    }

    &__link {
        color: $green-900;
        font-weight: 600;
        line-height: 1.3;
        text-transform: uppercase;
        display: inline-block;
        position: relative;

        @include r(560) {
            margin-bottom: 13px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 104px;
            height: 2px;
            top: 20px;
            left: 0;
            background-color: $green-900;
        }
    }

    &__content {
        display: grid;
        min-height: 258px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        @include r(1230) {
            grid-gap: 13px;
        }

        @include r(768) {
            grid-template-columns: 1fr 1fr;
        }

        @include r(560) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__banner {
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $white;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 6px;

        @include r(560) {
            max-width: 345px;
        }
    }

    &__calendar {
        position: absolute;
        text-align: center;
        top: 0;
        left: 20px;
        background-color: $white;
        padding: 18px 14px 10px;
        border-radius: 0px 0px 4px 4px;
        @include r(560) {
            left: 23px;
        }

        &--long {
            padding: 18px 5px 10px;
        }
    }

    &__month {
        display: block;
        font-size: 10px;
        letter-spacing: 0.1em;
        margin-bottom: 4px;
        font-weight: 600;
    }

    &__data {
        display: block;
        font-size: 30px;
        line-height: 1;
        font-weight: 600;
        @extend %ruda;
    }

    &__title {
        margin-bottom: 28px;
    }

    &__subtitle {
        padding: 18px 18px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0em;
        @include line-clamp(3);

        @include r(1230) {
            font-size: 14px;
            padding: 15px 15px;
        }
    }

    &__subtitle-link {
        transition: color 0.5s;

        &:hover {
            color: $green-900;
        }
    }
}

.footer {
    background-color: $dark-800;
    color: $white;
    letter-spacing: 0em;

    &__logo {
        @include r(560) {
            margin-bottom: 16px;
        }
    }

    &__img {
        margin-bottom: 23px;
        object-fit: cover;

        @include r(768) {
            margin: 0 auto;
        }
    }

    &__top {
        padding: 30px 0;

        @include r(768) {
            padding: 24px 0;
        }

        &-items {
            display: flex;
            justify-content: space-between;

            @include r(992) {
                flex-wrap: wrap;
            }

            @include r(768) {
                flex-direction: column-reverse;
            }
        }
    }

    &__text {
        display: block;
        margin-bottom: 18px;
    }

    &__form {
        position: relative;
        margin-right: 205px;
        max-width: 306px;
        width: 100%;


        &::before {
            background-image: none;
        }
    }

    &__input {
        padding: 12px 12px;
        max-width: 180px;
        width: 100%;

        &::placeholder {
            color: $grey;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1.3;
        padding: 14px 12px;
        border-radius: 0 6px 6px 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__items {
        &-form {
            @include r(992) {
                margin-bottom: 20px;
            }

            @include r(768) {
                padding: 24px 0 0;
                margin: 0 auto;
            }
        }

        &-address,
        &-column {
            @include r(768) {
                border-bottom: 1px solid rgba($white, 0.1);
            }
        }

        &-address {
            @include r(768) {
                padding-bottom: 24px;
            }

        }
    }

    &__item {
        padding: 9px 0;

        &:last-child {
            margin-bottom: 8px;
        }
    }

    &__address {
        &--center {
            @include r(768) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__bottom {
        color: $white;
        text-transform: uppercase;
        border-top: 1px solid rgba($white, 0.1);
    }

    &__bottom {
        &-inner {
            display: flex;
            justify-content: space-between;
            padding: 25px 0 20px;
            @include r(768) {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }
}

.menu-column {
    column-count: 3;
    column-gap: 72px;

    @include r(1230) {
        column-gap: 35px;
    }

    @include r(768) {

        padding: 13px 0;
    }

    @include r(560) {
        column-count: 2;
    }

    &__item {
        padding: 9px 0;
    }

    &__link {
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }
}


.social {
    display: flex;
    @include r(768) {
        justify-content: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__link {
        display: block;
        transition: box-shadow 0.3s;

        &:focus {
            box-shadow: 0 0 0 3px #E0EDCF;
            border-radius: 3px;
        }
    }

    &__icon {
        fill: $white;
        width: 32px;
        height: 32px;
        transition: fill 0.5s;

        &:hover {
            fill: rgba($white, 0.1);
        }

        &:active {
            fill: $green-200;
        }
    }
}

.accept {
    display: flex;

    &__items {
        &:not(:last-child) {
            margin-right: 24px;
            @include r(768) {
                margin: 0 34px 24px 0;
            }
        }
    }

    &__link {
        display: block;

    }
}


.breadcrumbs {
    background-color: $silver-100;
    padding: 24px 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $dark-500;

    &__list {
        display: flex;
    }

    &__item {
        position: relative;

        &:last-child {
            padding-left: 16px;

            &::after {
                background-image: none;
            }
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/icons/angle-right.svg');
            width: 6px;
            height: 10px;
            top: 4px;
            right: -11px;
        }
    }
}

.shop {
    &__title {
        @extend %ruda;
        font-weight: 700;
        font-size: 42px;
        letter-spacing: 0.03em;
        line-height: 1.19;
        padding: 48px 0;
    }
}

.sidebar {
    &-block {
        border: 1px solid $silver-600;
        margin-bottom: 30px;
        max-width: 300px;

        &__toggle {
            background-color: $white;
            @extend %ruda;
            font-size: 24px;
            line-height: 1.2;
            width: 100%;
            padding: 18px 24px 18px 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $silver-600;

            &-icon {
                fill: $silver-600;
                width: 18px;
                height: 11px;
            }
        }

        &__list {
            padding: 12px 18px;
            overflow: auto;
            max-height: 290px;
        }

        &__item {
            color: $dark-500;
            padding: 6px 0;
            font-size: 18px;
            letter-spacing: 0.03em;
            line-height: 1.27;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 23px 18px;
        }

        &__text {
            @extend %ruda;
            color: $silver-600;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
        }

        &__input {
            padding: 12px 20px;
            border: 1px solid $silver-600;
            max-width: 80px;
            border-radius: 3px;
            background-color: $silver-100;

            &::placeholder {
                color: $dark-500;
                font-size: 16px;
                letter-spacing: 0.03em;
                line-height: 1;
            }
        }
    }
}

.irs--flat .irs-line {
    background-color: $image-bg;
    height: 2px;
    top: 0;
    left: 18px;
    border-radius: 0;
    max-width: 264px;
}

.irs--flat .irs-bar {
    background-color: $green-900;
    height: 2px;
    top: 0;
}

.irs--flat .irs-handle>i:first-child {
    top: -29px;
    width: 16px;
    height: 16px;
    background-color: $green-900;
    border-radius: 50%;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}



.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {

    font-size: 16px;

    color: $dark-500;
    border-radius: 0;

}