.catalog-card {
    &__inner {
        display: flex;
        padding: 48px 0 63px;
        border-bottom: 1px solid $silver-600;

        @include r(1230) {
            padding: 40px 0 45px;
        }
        @include r(768) {
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            padding: 100px 0 45px;
        }
        @include r(560) {
            padding: 123px 0 29px;
        }
    }

    .carousel {
        max-width: 630px;
        height: 558px;
        border: 1px solid #C1C1C1;
        border-radius: 4px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include r(1230) {
            max-width: 505px;
        }
        @include r(992) {
            max-width: 400px;
            height: 450px;
        }
        @include r(768) {
            max-width: 500px;
            height: 500px;
        }
        @include r(560) {
            max-width: 345px;
            height: 309px;
        }

        &__slide {
            max-width: 630px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include r(1230) {
                max-width: 505px;
            }
            @include r(992) {
                max-width: 400px;
            }
            @include r(768) {
                max-width: 500px;
            }
            @include r(560) {
                max-width: 345px;
            }
            &-img {
                width: 420px;
                height: 420px;
                @include r(560) {
                    width: 270px;
                    height: 270px;
                }
            }
        }

        &__dots {
            display: none;
        }
        &__button {
            @include r(560) {
                display: none;
            }
        }       
    }


    &__link {
        object-fit: cover;
    }

    &__content {
        padding-top: 21px;
        margin-left: 30px;
        @include r(560) {
            margin-left: 0;
            padding-top: 4px;
        }
    }

    &__title {
        text-transform: unset;
        line-height: 1.2;
        margin-bottom: 18px;
        @include r(992) {
            font-size: 26px;
            margin-bottom: 10px;
        }
        @include r(768) {
            position: absolute;
            top: 30px;
            left: 16%;
        }
        @include r(560) {
            left: 0;

        }
    }

    &__badges {
        display: inline-block;
        font-size: 16px;
        padding: 1px 8px 1px 9px;
        margin-bottom: 18px;
        @include r(560) {
            margin-bottom: 23px;
        }
    }

    &__sale {
        margin-bottom: 37px;
        position: relative;
        @include r(560) {
            margin-bottom: 61px;
        }

        &-instock {
            font-size: 16px;
            position: absolute;
            right: -22px;
            top: 7px;

            @include r(1230) {
                right: 60px;
            }
            @include r(992) {
                left: 0;
                top: 26px;
            }
            @include r(560) {
                top: 35px;
            }
        }

        .jq-ry-container {
            padding: 6px 5px 0;
            @include r(992) {
                padding: 0;
            }
        }
    }

    &__vendor {
        color: $silver-600;
        line-height: 1.2;
        margin-right: 17px;
        background-color: $silver-100;
    }

    &__rating {
        display: flex;
    }

    &__star {
        opacity: 1;
        svg {
            &:hover {
                z-index: 100;
                box-shadow: 0 0 0 2px #E0EDCF;
                border-radius: 2px;
            }

            &:active {
                fill: rgba(238, 215, 155, 0.5);
            }
        }
        &.none {
            opacity: 0;
        }
    }

    &__price {
        font-weight: 600;
        margin-bottom: 54px;
        @include r(992) {
            margin-bottom: 30px;
        }
        @include r(560) {
            margin-bottom: 27px;
        }
        &-old {
            font-size: 20px;
            margin-right: 11px;
        }

        &-new {
            color: $green-900;
            font-size: 30px;
        }

        .currency {
            margin-left: 6px;
        }
    }

    &__currency {
        &-old {
            color: $silver-600;
            font-size: 20px;
        }

        &-new {
            color: $green-900;
            font-size: 30px;
        }
    }

    &__buy {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        position: relative;
    }

    &__form {
        margin-right: 18px;
    }

    .jq-number__field {
        width: 158px;
        border-bottom-color: transparent;
        border-radius: 0;
        box-shadow: none;
        border: transparent;
    }

    .jq-number__field input {
        width: 100%;
        height: 44px;
        background-color: rgba(99, 166, 14, 0.1);
        @extend %opensans;
        font-weight: 400;
        font-size: 16px;
        color: $dark-500;
        text-align: center;
    }

    .jq-number {
        position: relative;
        padding: 0;
    }

    .jq-number__spin {
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        border: transparent;
        box-shadow: none;
        background: $green-900;
        text-shadow: none;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 21px;
            left: 13px;
            background-color: $white;
            width: 16px;
            height: 1px;
        }

        &.minus {
            left: 0;
        }

        &.plus {
            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 16px;
                top: 13px;
                left: 21px;
                background-color: $white;
            }
        }
    }

    &__favourite {
        top: -4px;
        right: -32px;
        width: 60px;
        height: 60px;
        opacity: 1;

        @include r(1230) {
            top: -100px;
            right: 100px;
        }
        @include r(992) {
            top: -6px;
            right: 0;
        }
        &.none {
            opacity: 0;
        }
        .product-card__heart {
            width: 44px;
            height: 39px;
        }
    }

    &__btn {
        padding: 8px 0 8px;
        text-transform: uppercase;
        width: 253px;
        height: 44px;
        @include r(992) {
            width: 48px;
            font-size: 0;
        }

        .product-card__cart {
            width: 24px;
            height: 23px;
        }
    }

    &__delivery {
        &-title {
            text-transform: unset;
            font-size: 18px;
            border-bottom: 1px solid $silver-600;
            padding-bottom: 16px;
            margin-bottom: 18px;
        }

        &-text {
            color: $dark-500;
            margin-bottom: 18px;
            line-height: 1.54;
        }

        &-link {
            color: $green-900;
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.5s, box-shadow 0.5s, color 0.5s;

            &:hover {
                border-bottom: 1px solid $green-900;
            }

            &:focus {
                box-shadow: 0 0 0 4px $green-200;
                border-radius: 3px;
            }

            &:active {
                color: $green-600;
                border-bottom: 1px solid $green-600;
            }
        }
    }
}

.fancybox__slide {
    background-color: $white;
}

.carousel__button svg {
    stroke: rgba($black, 0.15);
}

.carousel__button.is-close {
    right: 38px;
    top: 38px;
}

.fancybox__nav .carousel__button.is-prev,
.fancybox__nav .carousel__button.is-next {
    background-color: rgba($white, 0.8);
    border-radius: 6px;
}

.fancybox__nav .carousel__button.is-prev {
    left: 60px;

}

.fancybox__nav .carousel__button.is-next {
    right: 60px;
}

.fancybox__backdrop,
.fancybox__caption,
.fancybox__nav,
.carousel__dots,
.carousel__button.is-close {
    background-color: $white;
}

.carousel__dots {
    .carousel__dot.is-selected {
        &::after {
            width: 10px;
            height: 10px;
            background-color: $green-900;
        }
    }

    .carousel__dot {
        &::after {
            top: -92px;
            width: 10px;
            height: 10px;
            background-color: rgba($black, 0.15);
            opacity: 1;
        }
    }
}