.slider-top {

    &__item {
        padding: 142px 0;
        height: 598px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include r(992) {
            padding: 100px 0;
            height: 465px;
        }

        @include r(560) {
            height: 319px;
            padding: 60px 0 50px;
        }
    }

    &__content {
        background-color: rgba($white, 0.8);
        border-radius: 4px;
        padding: 18px 24px 38px 24px;

        @include r(560) {
            padding: 15px 15px 25px 15px;
            margin: 0 -15px 0 -15px;
            border-radius: 0;
        }
    }

    &__title {
        @extend %ruda;
        font-weight: 900;
        font-size: 60px;
        line-height: 1.3;
        color: $dark-500;
        max-width: 796px;
        text-transform: uppercase;
        margin-bottom: 6px;
        @include line-clamp(3);

        @include r(992) {
            font-size: 50px;
            max-width: 760px;
        }

        @include r(768) {
            font-size: 30px;
            max-width: 460px;
        }

        @include r(560) {
            font-size: 20px;
            max-width: 305px;
            margin-bottom: 16px;
        }
    }

    &__discount {
        color: $red-900;
        font-size: 60px;

        @include r(992) {
            font-size: 50px;
        }

        @include r(768) {
            font-size: 30px;
        }

        @include r(560) {
            font-size: 20px;
        }
    }

    &__text {
        color: $dark-500;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 42px;
        letter-spacing: 0;
        @include line-clamp(2);

        @include r(992) {
            margin-bottom: 30px;
        }

        @include r(768) {
            margin-bottom: 20px;
        }

        @include r(560) {
            margin-bottom: 38px;
            line-height: 1.4;
        }
    }

    &__arrow {
        background-color: rgba($white, 0.8);
        border-radius: 6px;
        padding: 14px 23px 9px 21px;
        position: absolute;
        top: 45%;
        transition: fill 0.5s, background-color 0.5s, box-shadow 0.5s;

        &--right {
            right: 60px
        }

        &--left {
            z-index: 1;
            left: 60px;
        }

        &:disabled {
            path {
                fill: $silver-600;
            }
        }

        &:disabled {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 6px;
        }



        &:hover {
            background-color: $green-200;
        }

        &:hover {
            path {
                fill: $green-900;
            }
        }

        &:focus {
            box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
            border-radius: 6px;
        }

        &:active {
            background-color: $white-100;

            path {
                fill: $green-900;
            }
        }
    }

    &__btn {
        @include r(992) {
            font-size: 14px;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 13px;
        left: 45%;

        @include r(560) {
            left: 42%;
        }
    }

    .slick-dots li+li {
        margin-left: 10px;
    }

    .slick-dots .slick-active button {
        background-color: $white;
        border: 1px solid $silver-600;
        width: 15px;
        height: 15px;
    }

    .slick-dots button {
        padding: 0;
        background-color: $green-900;
        font-size: 0;
        width: 11px;
        height: 11px;
        border-radius: 50%;
    }
}